#product-videos{
  margin-top: 20px;
  margin-right: 20px;
}

#product-videos iframe{
  width: 340px !important;
  height: 200px !important;
}
#title strong, #description strong{
  border-bottom: 1px solid #D9D9DB;
  font-size: 16px;
  margin-bottom: 10px;
}